package button

import (
	"strings"
)

templ buttonTmpl(props Button) {
	<button
		if len(props.Type) == 0 {
			type="submit"
		} else {
			type={ string(props.Type) }
		}
		class={ strings.Join(props.ClassNames, " "), }
		if props.Disabled {
			disabled
		}
	>
		{ children... }
	</button>
}
