package button

templ render(props Button) {
	<button
		if len(props.ID) > 0 {
			id={ props.ID }
		}
		if len(props.Kind) == 0 {
			type="submit"
		} else {
			type={ string(props.Kind) }
		}
		class={ props.ClassNames, props.CSS }
		if props.Disabled {
			disabled
		}
		if props.Attributes != nil {
			{ props.Attributes... }
		}
	>
		{ children... }
	</button>
}
